In [1]:
import pandas as pd

In [2]:
sales = pd.read_csv("home_data.csv")

In [4]:
max(sales['price'])

7700000

In [49]:
highest=max(sales['price'])
sales[sales.price == highest]

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
7252,6762700020,20141013T000000,7700000,6,8,12050,27600,2.5,0,3,...,13,8570,3480,1910,1987,98102,47.6298,-122.323,3940,8800

In [27]:
highest=max(sales['price'])
sales[sales.price == highest]
code=98102

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
7252,6762700020,20141013T000000,7700000,6,8,12050,27600,2.5,0,3,...,13,8570,3480,1910,1987,98102,47.6298,-122.323,3940,8800

In [42]:
area = sales[sales.zipcode == 98102]
area['zipcode'].head(5)
len(area['zipcode'
    ])

105

In [62]:
#print(test_data['price'].mean())
from statistics import mean
mean(area['price'])/4

225314.55952380953

In [43]:
#highest=max(sales['price'])
sales[sales.sqft_living == 2000]

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
413,1525200060,20140723T000000,577500,3,2.50,2000,7251,2.0,0,0,...,9,2000,0,1995,0,98034,47.7067,-122.200,2450,8118
775,4040800810,20140502T000000,420000,3,2.25,2000,8030,1.0,0,0,...,8,1000,1000,1963,0,98008,47.6188,-122.114,2070,8250
783,5693500270,20150121T000000,715000,4,1.00,2000,4800,2.0,0,0,...,7,2000,0,1911,0,98103,47.6583,-122.351,1260,1452
844,108000127,20141209T000000,456500,4,3.50,2000,2309,3.0,0,0,...,8,2000,0,2008,0,98177,47.7027,-122.361,1440,1548
1008,1624079104,20150402T000000,540000,3,2.25,2000,217800,2.0,0,0,...,8,2000,0,1996,0,98024,47.5599,-121.911,2220,217800
1038,5104511040,20150220T000000,380000,4,2.50,2000,6921,2.0,0,0,...,8,2000,0,2003,0,98038,47.3559,-122.014,2430,6339
1249,472000055,20140514T000000,546000,3,1.75,2000,5000,1.0,0,0,...,7,1110,890,1921,0,98117,47.6859,-122.399,1750,5000
1349,3731800055,20140605T000000,450000,4,1.00,2000,4676,1.5,0,0,...,7,1250,750,1916,1986,98118,47.5529,-122.268,1140,4676
1359,3526039116,20141118T000000,549000,3,1.75,2000,6130,1.0,0,0,...,8,1120,880,1951,0,98117,47.6925,-122.388,2140,7150
1486,5557320030,20140924T000000,229950,5,2.75,2000,5885,1.0,0,0,...,7,1260,740,1994,0,98023,47.3155,-122.347,1960,6514
1502,3276900030,20141006T000000,300000,5,2.75,2000,9276,2.0,0,0,...,7,2000,0,1968,0,98055,47.4440,-122.190,1240,8270
1571,934300140,20150323T000000,284950,4,1.50,2000,6778,1.0,0,0,...,7,1170,830,1962,0,98198,47.3708,-122.311,1940,7531
1649,5101402482,20140724T000000,520000,4,2.00,2000,6380,2.0,0,0,...,6,1860,140,1949,0,98115,47.6956,-122.303,1600,6380
1684,9542000075,20150327T000000,700000,3,1.75,2000,14733,1.0,0,0,...,8,2000,0,1958,0,98005,47.6001,-122.178,2620,14733
1687,8680100030,20140521T000000,374000,3,1.75,2000,9416,1.0,0,0,...,6,2000,0,1961,0,98033,47.6970,-122.175,1440,9555
1699,7625704005,20140506T000000,561000,3,2.00,2000,7000,2.0,0,0,...,7,2000,0,1916,1986,98136,47.5452,-122.393,1840,7000
2344,2887703066,20140528T000000,815000,4,2.25,2000,3800,2.0,0,0,...,8,2000,0,2001,0,98115,47.6852,-122.311,1610,3800
2612,1796250140,20150310T000000,399950,3,2.50,2000,30605,2.0,0,0,...,8,2000,0,1989,0,98042,47.3442,-122.062,1930,35350
3247,9818700215,20150330T000000,464000,5,2.00,2000,3000,1.5,0,0,...,6,1200,800,1931,0,98122,47.6028,-122.298,1330,4000
3520,824069156,20150429T000000,570000,4,2.00,2000,46902,2.0,0,0,...,8,2000,0,1978,0,98075,47.5851,-122.072,2420,38130
3642,7527200110,20150218T000000,593700,3,2.50,2000,22000,2.0,0,0,...,8,2000,0,1979,0,98075,47.5900,-122.081,2180,19800
3981,1221039058,20150213T000000,310597,4,1.75,2000,25700,1.0,0,0,...,7,1150,850,1958,0,98023,47.3200,-122.362,2420,27500
5184,6067910130,20150325T000000,526000,3,2.25,2000,18099,1.0,0,0,...,8,1250,750,1978,0,98006,47.5443,-122.180,2060,12000
5532,3905040170,20150320T000000,602000,4,2.50,2000,7376,2.0,0,0,...,8,2000,0,1990,0,98029,47.5719,-121.999,1950,5218
5549,5700000595,20150219T000000,630000,4,2.00,2000,5000,1.5,0,0,...,7,2000,0,1925,0,98144,47.5787,-122.293,2200,5000
6076,9197100263,20140819T000000,237000,3,1.75,2000,12208,1.0,0,0,...,7,1140,860,1979,0,98032,47.3752,-122.236,1060,8194
6305,1423069102,20150331T000000,430000,3,2.50,2000,35438,2.0,0,0,...,7,2000,0,1968,2005,98027,47.4733,-121.994,2000,51836
6338,1972205790,20141211T000000,755000,3,2.50,2000,1950,3.0,0,0,...,8,2000,0,2005,0,98109,47.6476,-122.356,1560,1340
6383,5015000190,20140625T000000,690500,5,2.00,2000,4211,1.5,0,2,...,7,1280,720,1908,0,98112,47.6283,-122.301,1680,4000
6457,3867400130,20140709T000000,810000,4,1.75,2000,3988,1.0,0,4,...,7,1000,1000,1958,0,98116,47.5925,-122.391,1690,4144
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14221,1250201165,20150317T000000,474500,5,2.50,2000,3600,1.0,0,0,...,6,1150,850,1987,0,98144,47.5971,-122.295,1410,3600
14469,1254200835,20140813T000000,595000,4,1.75,2000,5100,1.0,0,0,...,7,1130,870,1949,0,98117,47.6798,-122.391,1540,5100
14632,4222500410,20150226T000000,267000,4,1.75,2000,7350,1.0,0,0,...,7,1100,900,1963,0,98003,47.3428,-122.303,1720,7350
14758,2922700155,20141125T000000,530000,4,2.50,2000,4700,1.5,0,0,...,7,1220,780,1944,0,98117,47.6902,-122.368,1560,4700
14830,7625701175,20141103T000000,465000,4,2.00,2000,6250,1.5,0,0,...,7,1480,520,1930,0,98136,47.5532,-122.389,1110,6250
14861,3524049042,20140527T000000,375000,3,1.50,2000,7294,1.0,0,0,...,7,1520,480,1965,0,98118,47.5297,-122.267,2000,6000
15202,1929300415,20141119T000000,710000,4,1.75,2000,6000,1.0,0,3,...,7,1000,1000,1956,0,98109,47.6428,-122.348,2610,4377
15318,8091411100,20150204T000000,334000,3,2.25,2000,7225,2.0,0,0,...,7,2000,0,1985,0,98030,47.3490,-122.167,1950,7464
15466,254000020,20140605T000000,453500,4,1.75,2000,6032,1.0,0,2,...,7,1300,700,1959,0,98146,47.5132,-122.389,1930,6032
15488,1087900050,20140603T000000,560000,3,1.75,2000,10182,1.0,0,0,...,7,1400,600,1963,0,98033,47.6616,-122.175,2050,10182
15504,8860200010,20150107T000000,273500,3,1.50,2000,15265,1.0,0,0,...,8,1540,460,1967,0,98032,47.3870,-122.281,1920,15265
15524,461005435,20150202T000000,519000,3,1.75,2000,5680,1.0,0,0,...,7,1080,920,1903,0,98117,47.6805,-122.366,1230,4535
15738,2211700290,20141204T000000,538000,3,2.75,2000,7204,1.0,0,0,...,7,1250,750,1960,0,98006,47.5650,-122.116,2480,17633
15971,7922800190,20150311T000000,620000,5,1.75,2000,8713,1.0,0,2,...,7,1000,1000,1962,0,98008,47.5882,-122.117,2040,8449
16434,4452300130,20140522T000000,677000,3,2.00,2000,3207,1.0,0,0,...,7,1100,900,1916,0,98103,47.6561,-122.341,1460,3200
16708,1732600050,20141017T000000,423500,3,2.00,2000,10490,1.0,0,0,...,8,1430,570,1978,0,98033,47.6976,-122.166,1530,7659
16718,7283900185,20140604T000000,415000,4,2.50,2000,5962,2.0,0,0,...,8,2000,0,1999,0,98133,47.7695,-122.350,1790,10500
16911,3754501060,20140918T000000,910000,2,2.50,2000,5150,2.0,0,4,...,9,2000,0,1992,0,98034,47.7056,-122.223,2510,6800
17670,2141320230,20150410T000000,710000,4,2.25,2000,8068,2.0,0,0,...,8,2000,0,1976,0,98006,47.5584,-122.137,2080,7837
17698,2215900930,20140509T000000,225000,3,2.50,2000,9202,2.0,0,0,...,7,2000,0,1992,0,98038,47.3516,-122.057,1750,7827
18278,8732020720,20140521T000000,318989,4,2.25,2000,9000,1.0,0,0,...,8,2000,0,1978,0,98023,47.3125,-122.387,2190,8374
18484,6706000040,20150423T000000,330000,4,2.25,2000,10679,1.0,0,0,...,7,1350,650,1960,0,98148,47.4238,-122.329,1650,8875
18653,4058801780,20150327T000000,465000,5,1.75,2000,10246,1.0,0,2,...,7,1200,800,1953,0,98178,47.5084,-122.246,2340,9030
18859,821049149,20141009T000000,335000,4,1.75,2000,10890,1.0,0,0,...,7,1390,610,1961,0,98003,47.3203,-122.321,1520,9250
19164,2988800011,20150414T000000,244000,3,1.00,2000,15900,1.0,0,0,...,6,1000,1000,1948,0,98178,47.4816,-122.233,1760,10500
19208,8857600540,20150106T000000,265000,6,2.50,2000,7650,1.5,0,0,...,7,1790,210,1960,0,98032,47.3841,-122.288,1710,7650
19282,984100450,20140624T000000,295000,3,1.75,2000,7560,1.0,0,0,...,7,1300,700,1968,0,98058,47.4346,-122.171,1900,8301
19595,2143700406,20141211T000000,300000,3,2.25,2000,7560,1.0,0,0,...,7,1400,600,1979,0,98055,47.4798,-122.228,2040,6949
21136,9532000010,20150416T000000,515000,3,2.50,2000,3837,2.0,0,0,...,8,2000,0,2011,0,98072,47.7713,-122.167,2210,4075
21340,4187000190,20141117T000000,417000,3,2.50,2000,4500,2.0,0,0,...,7,2000,0,2010,0,98059,47.4937,-122.149,2230,4501

In [44]:
sales[sales.sqft_living == 4000]

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
847,3395050060,20140722T000000,628000,3,1.75,4000,11894,1,0,0,...,9,2190,1810,1987,0,98011,47.7738,-122.203,2530,8650
3447,7853301560,20140625T000000,762000,4,3.50,4000,15253,2,0,0,...,9,4000,0,2007,0,98065,47.5433,-121.887,3550,8747
3725,9558040820,20140709T000000,570000,6,3.75,4000,6015,2,0,2,...,10,3080,920,2004,0,98058,47.4530,-122.118,3180,5700
4314,7853301390,20140821T000000,688000,4,4.00,4000,9309,2,0,0,...,9,4000,0,2007,0,98065,47.5421,-121.888,3920,8048
11978,7228501805,20140924T000000,739000,6,4.50,4000,7500,2,0,0,...,7,4000,0,1978,0,98122,47.6146,-122.306,1380,6298
19907,7853440140,20150409T000000,802945,5,3.50,4000,9234,2,0,0,...,9,4000,0,2015,0,98024,47.5265,-121.887,3690,6600
20251,7853440050,20150505T000000,771005,5,4.50,4000,6713,2,0,0,...,9,4000,0,2015,0,98024,47.5254,-121.886,3690,6600

In [52]:
(7+103)/len(sales)

0.005089529449868135

In [60]:
bet = len(sales[(sales.sqft_living>= 2000) &(sales.sqft_living <= 4000)])
bet/len(sales)

0.4266413732475825

In [67]:
from sklearn.preprocessing import OneHotEncoder
enc=OneHotEncoder()
enc.fit(sales[['zipcode']])
enc.n_values_

array([98200])

In [93]:
#users[['age', 'zip_code']].head()
my_features = ['bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'zipcode']
advanced_features = ['bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'zipcode',
'condition', 
'grade', # measure of quality of construction				
'waterfront', # waterfront property				
'view', # type of view				
'sqft_above', # square feet above ground				
'sqft_basement', # square feet in basement				
'yr_built', # the year built				
'yr_renovated', # the year renovated				
'lat', 'long', # the lat-long of the parcel				
'sqft_living15', # average sq.ft. of 15 nearest neighbors 				
'sqft_lot15', # average lot size of 15 nearest neighbors 
]
mFeats=sales[my_features]
aFeats=sales[advanced_features]
aFeats
mFeats.head()

   bedrooms  bathrooms  sqft_living  sqft_lot  floors  zipcode
0         3       1.00         1180      5650       1    98178
1         3       2.25         2570      7242       2    98125
2         2       1.00          770     10000       1    98028
3         4       3.00         1960      5000       1    98136
4         3       2.00         1680      8080       1    98074

In [84]:
from sklearn.cross_validation import train_test_split
train_data,test_data = train_test_split(mFeats,train_size=0.8)

In [85]:
from sklearn.cross_validation import train_test_split
train_data1,test_data1 = train_test_split(aFeats,train_size=0.8)

In [91]:
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder()
enc.fit(train_data[['zipcode']])
q=enc.n_values_
q

array([98200])

In [92]:
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder()
enc.fit(train_data1[['zipcode']])
q=enc.n_values_
q

array([98200])

In [89]:
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder()
enc.fit(mFeats[['zipcode']])
q=enc.n_values_
q

array([98200])

In [90]:
enc.fit(aFeats[['zipcode']])
w=enc.n_values_
RSME= mean_squared_error(q,w)**2
RSME

NameError: name 'mean_squared_error' is not defined